#content {
    margin: 0 auto;
    max-width: 800px;
    background-color: #638d85;
  }
  
  /*h1,
  h2 {
      font-family: serif;
      font-size: 32px;
      color: black;
  }*/
  
  body {
    background-color: rgb(175, 189, 190);
  }
  header {
    background-color: black;
    color: white;
    display: flex;
    border: 5px solid black;
    border-radius: 1em;
    height: 200px;
  }
  h1 {
    margin-left: 150px;
    margin-top: 60px;
    font-family: serif;
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 2px;
    font-family: serif;
  }
  img {
    margin-left: 40px;
    margin-top: 22px;
  }
  
  footer{
      background-color: black;
    color: white;
    display: flex;
    border: 5px solid black;
    border-radius: 1em;
  }
 p {
  text-align: center;
 }
