#content {
    margin: 0 auto;
    max-width: 800px;
    background-color: #638d85;
  }
  
   
  body {
    background-color: rgb(175, 189, 190);
  }
  header {
    background-color: black;
    color: white;
    display: flex;
    border: 5px solid black;
    border-radius: 1em;
    height: 200px;
  }
  h1 {
    margin-left: 150px;
    margin-top: 60px;
    font-family: serif;
  }
  h2 {
    margin-top: 40px;
    margin-bottom: 2px;
    font-family: serif;
  }
  img {
    margin-left: 40px;
    margin-top: 22px;
  }
  
  footer{
      background-color: black;
    color: white;
    display: flex;
    border: 5px solid black;
    border-radius: 1em;
  }
<<<<<<< HEAD
  p {
    justify-content: center;
   }
=======
 p {
  text-align: center;
 }
>>>>>>> c65a48757e1618951ffd34b967b34acc142c57cf
