table{
    border-collapse: collapse;
    border: 2px solid black;
    background-color: rgb(195, 206, 216);
}
td{
    border: 2px solid black;
    padding: 10px 20px;
}
th, .nov{background-color: #0e3030;
    color: white;
padding: 5px 5px;
}
thead .first th{
color: black;
padding: 10px 20px;
}
tr:nth-child(odd) {
    background-color: #dddddd;
  }
  table thead .first th, tfoot tr td{
background-color: rgb(87, 163, 163);

  }
  tfoot tr td{
    text-align: center;
    font-size: 15px;
  }
