
main .cards {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));  
     margin: 2vw;
   
    grid-row-gap: 20px;
    
}

main .cards section{
    background-color: rgb(214, 227, 248);
    width: 18rem; 
   }
main .cards section img{
    width: 13rem;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding: 5px 10px; 
    
}
h2, h1,
p {
  text-align: center;
  text-shadow: 0 0 15px #999;
}



